@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');

body {
	background-color: #0093C6;
	font-family: McLaren;
	color: #ECC2E2;
}

nav {
	background-color: #E3C73B;
	padding: 5px;
	margin: -8px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
}



#name  {
	color: #F8963A;
}

section {
	margin-left: 41%;
}

#scoreLabel {
	border: 3px solid white;
	border-radius: 20px;
	margin-top: 20px; 
	margin-left: 0px;
	padding: 10px;
	width: 250px;
	height: 50px;
	text-align: center;
	font-size: 20px;
	position: relative;
	
}

#user {
	background-color: #F8963A;
	position: absolute;
	left: -19px;
	top: 20px;
	border: 3px solid #E3C73B;
	border-radius: 3px;
	color: black;
}

#comp {
	background-color: #F8963A;
	position: absolute;
	right: -19px;
	top: 20px;
	border: 3px solid #E3C73B;
	border-radius: 3px;
	color: black;
}

#score {
	font-size: 40px;
	font-weight: 16px;
	display: flex;
	margin-left: 70px; 
}

#game {
	margin-left: -46%;
}

#result {
	text-align: center;
	margin-left: -230px;
}

#choices {
	display: flex;
	align-items: center; 
}

img {
	width: 150px;
	height: 200px;

}

#rock {
	width: 200px;
	height: 200px;
	margin-left: 40px;
}

#paper {
	margin-left: 70px;
}

#scissors {
	margin-left: 70px;
}

#compChoices {
	display: flex;
	align-items: center; 
}

#Crock {
	width: 200px;
	height: 200px;
	margin-left: 40px;
}

#Cpaper {
	margin-left: 70px;
}

#Cscissors {
	margin-left: 70px;
}
